body {
    background-color: grey;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    transform-origin: top left;
    transition: transform 1s linear;
    
}


.container.interruptor {
    transform: rotate(-30deg);
}

.circle-container {

    top: -100px;
    left: -100px;
    position: fixed;


}
.container.interruptor .circle {
    transform: rotate(-70deg);
  }

.circle button {
    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: white;
}

.circle {
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 1s linear;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 200px;
    transform-origin: center;
    gap: 30px;
}
.circle button:focus {
    outline: none;
  }


#open {
    left: 130px;
}

#close {
    top: 130px;
    transform: rotate(90deg);
    transform-origin: top left;
}




li {
    color: white;

}

a {
    text-decoration: none;
    color: white;
}













.container.interruptor+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}